<extend name="Base/HomeCommon"/>
<block name="head"></block>
<block name="body">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">蜘蛛记录</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        记录列表
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="dataTables-example_wrapper"
                             class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table width="100%"
                                           class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
                                           id="dataTables-example" role="grid"
                                           aria-describedby="dataTables-example_info" style="width: 100%;">
                                        <thead>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="dataTables-example"
                                                rowspan="1" colspan="1" aria-sort="ascending"
                                                aria-label="Rendering engine: activate to sort column descending"
                                                style="width: 170px;">蜘蛛名
                                            </th>
                                            <th  tabindex="0" aria-controls="dataTables-example"
                                                rowspan="1" colspan="1"
                                                aria-label="Browser: activate to sort column ascending"
                                                style="width: 206px;">蜘蛛信息
                                            </th>
                                            <th tabindex="0" aria-controls="dataTables-example"
                                                rowspan="1" colspan="1"
                                                aria-label="Platform(s): activate to sort column ascending"
                                                style="width: 188px;">访问地址
                                            </th>
                                            <th tabindex="0" aria-controls="dataTables-example"
                                                rowspan="1" colspan="1"
                                                aria-label="Platform(s): activate to sort column ascending"
                                                style="width: 188px;">访问时间
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <php>$app_list_count = 0;</php>
                                        <volist name='data' id="vo">
                                            <php>$app_list_count++</php>
                                            <tr class="gradeA <if condition='($app_list_count % 2) eq 1 '>odd<else/>even</if>" role="row">
                                                <td class="sorting_1">{$vo.spider_name}</td>
                                                <td>{$vo.spider_agent}</td>
                                                <td>{$vo.access_url}</td>
                                                <td>{:date('Y-m-d H:i:s', $vo['atime'])}</td>
                                            </tr>
                                        </volist>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                        <div class="page">
                                        {$page_obj}
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>


    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">{:L('ADD_APP_POP_WIN_TITLE')}</h4>
                </div>
                <form id="add_app_form" method="POST" action="{:U('Home/HomePage/add')}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>{:L('APP_NAME_LABEL')}</label>
                            <input class="form-control" name="app_name" maxlength="20">
                            <p class="help-block"></p>
                        </div>
                        <!--<input type="hidden" name="id" value="0">-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{:L('CLOSE_BTN_TXT')}</button>
                        <button type="button" class="btn btn-primary" data-disable-while-submit = '1' id="submitAppBtn">{:L('CONFIRM_BTN_TXT')}</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <script>
        $(function(){
            $('#addModal').on('show.bs.modal',function(){
                initAddForm();
            });

            $('#submitAppBtn').click(function(){
                addApp();
            });

        });
        //初始化添加弹窗
        function initAddForm(){
            //$('#addModal input[name=id]').val(0);
            $('#addModal input[name=app_name]').val('');
        }

        function addApp(){
            var is_form_validate = isAppAddFormValidate();
            switch(is_form_validate){
                case -1:
                    autoHideMsg("{:L('APP_NAME_CAN_NOT_BE_NONE')}");
                    return;
                    break;
            }
            systemConfirm('确认提交?',function(){
                var form_dom = '#add_app_form';
                sysFormSubmit(form_dom,{
                    'success':function(data){
                        if(data == null || !data.hasOwnProperty('status')){
                            autoHideMsg('网络异常');
                            return;
                        }

                        if(data.status == true){
                            window.location.href = "{:U('Home/HomePage/appManage')}"
                            return;
                        }


                        if(!data.hasOwnProperty('msg') || data.msg == ''){
                            autoHideMsg('未知错误');
                            return;
                        }
                        autoHideMsg(data.msg);
                    }
                });
            });

        }

        function isAppAddFormValidate(){
            var app_name = $('#addModal input[name=app_name]').val();
            app_name = $.trim(app_name);
            if(app_name.length == 0){
                return -1;
            }

            return 0;
        }
    </script>
</block>

